
@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
            transform: rotate(360deg);
    }
}

@keyframes slideMenu {
    0% {
                transform: scaleX(0);
    }
    100% {
                transform: scaleX(-50px);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
       margin-top: 70px;
    }
    100% {
        opacity: 1;
        margin-top:20px;
    }
}


body {
    margin: 0px;
}
* a {
    text-decoration: none;
    color: #fff;
}

.main {    
    margin: 0px;
    padding: 0px;
    @include flex-center;
    flex-direction: column;
    font-family: $font-text;
}

.header {
    & a {
        color: #000;  
    }
    &__back-arrow {
        font-size: 1.5em;
        margin: 0 100px 0 10px;
    }
}
.image {
    width: 100%;
    height: 50vh;
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;      
    }
}
#menu {
    @include flex-center;
    width: 100%;
    background-color: #faf9f9;
}
.menu {
    margin-top: -150px;
    width: 100%;
    background-color: #faf9f9;
    border-radius: 50px 50px 0 0;
    padding: 20px 20px 50px 20px;
    
    &__header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: $font-title;
        font-size: 1.2em;
    }
}
.hearth {
    @include flex-center;
    width: 30px;  
    margin: 15px 30px;
    font-size: 1.5em;    
    cursor: pointer;    
    &-empty {
        color:#747171;
        font-size: 1.4em;
        cursor: pointer;
        &:hover> .heart-full {
            @include heart-animation
        }
    }
}
.menu__grid {
    font-family: $font-text;
    &__title {
        @include underline;
        color: #747171;
        font-weight: 100;
        height: 30px;
        margin-bottom: 20px;
        margin-left: 5px;
    }
    &__container {
        margin: 0 20px 50px 20px;

    }
}
.menu__grid__card {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer; 
    margin-top: 20px; 
    &:hover .check {     
            @include flex-center;
            animation: slideMenu 0.5s ease;
            transform-origin: right;
    }
    &:hover .menu__card-price {
        padding-right: 70px;
        transition: 0.5 ease;
    }
    .check {
        display: none;
        position: absolute;
        background-color: $color-tertiary;
        height: 100%;
        padding: 0 15px;
        right: 0px;
        top: 0px;
        border-radius: 0 20px 20px 0;
        i {
            font-size: 30px;
            color: #fff;
            transform: rotate(180deg);
            animation: rotate 1s both;
        }   
    }
}       
.menu__card-dish {
    margin-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    & p {
        margin: 0;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &-title {
        font-weight: bold;
    }
}
.menu__card-price {
        font-weight: bold;
        padding: 0 20px 0 10px;
    }
.menu__card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.menu__container__button {
    @include flex-center;
}

.menu__button {
    @include button;
    padding: 20px 50px 20px 50px;
    &:hover {
        @include button-hover;
    }
}

#card-1 {
    animation: opacity 1.5s both 0.2s;
    
}
#card-2 {
    animation: opacity 1.5s both 0.3s;
}
#card-3 {
    animation: opacity 1.5s both 0.4s;
}
#card-4 {
    animation: opacity 1.5s both 0.5s;
}
#card-5 {
    animation: opacity 1.5s both 0.6s;
}
#card-6 {
    animation: opacity 1.5s both 0.7s;
}
#card-7 {
    animation: opacity 1.5s both 0.8s;
}
#card-8 {
    animation: opacity 1.5s both 0.9s;
}
#card-9 {
    animation: opacity 1.5s both 1s;
}