body {
    margin: 0;
}
* a {
    text-decoration: none;
    color: #fff;
}

.main {    
    margin: 0;
    padding: 0;
    @include flex-center;
    flex-direction: column;
    font-family: $font-text;
}

.header {
    
    & a {
        color: #000;  
    }
    &__back-arrow {
        font-size: 1.5em;
        margin: 0 100px 0 10px;
    }
}
.image {
    width: 100%;
    height: 50vh;
    
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;      
    }
}
#menu {
    @include flex-center;
    background-color: #faf9f9;
}
.menu {
    position: relative;
    top:-80px;
    background-color: #faf9f9;
    border-radius: 50px 50px 0 0;
    padding: 20px 20px 0 20px;
    &__header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: $font-title;
        font-size: 1.2em;
        &__heart {
            font-size: 1.4em;
            color: #747171;
        }
    }
}
.menu__grid {
    font-family: $font-text;
    &__title {
        @include underline;
        color: #747171;
        font-weight: 100;
        height: 30px;
        margin-bottom: 20px;
        margin-left: 5px;
    }
    &__container {
        margin-bottom: 50px;
    }
}
.menu__card {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #fff;
    margin: 10px 0 10px 0;
    padding: 10px;
    border-radius: 20px;
    &-dish-title {
        font-size: 1.2em;
        font-weight: bold;
    }
    &-dish-subtitle {
        font-size: 1em;
    }
    & p {
        margin: 0;
        line-height: 1.5em;
    }
    &-price {
        font-weight: bold;
        padding: 10px 20px 5px 0;
    }
}
.menu__container__button {
    @include flex-center;
}

.menu__button {
    @include button;
    padding: 20px 50px 20px 50px;
    &:hover {
        @include button-hover;
    }
}