/// mixin for centering elements
@mixin flex-center {
    display:flex;
    justify-content: center;
    align-items: center;
}
/// Mixin button classic
@mixin button {
    color: #fff;
    padding: 0 20px;
    border-radius: 20px;
    opacity: 1;
}
/// Underlining of menu titles
@mixin underline {
    border-bottom: 3px solid $color-tertiary;
    width: 50px;
}
/// Allows to apply a gradient on the text with BG img (gradient),
/// BG size so that gradient takes all of H and W, 
/// BG-clip to display BG only where there is text,
/// Text-fill-color (transparent) to remove fill from text. BG-Color (by default) if display problem.
@mixin gradient-text {
    background-color: #fff;
    background-image: $color-gradient;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color : transparent;
    -moz-text-fill-color: transparent;
}
/// Animation of hearts
@mixin heart-animation {
    @keyframes animationheart {
        0% {
            background-size: 100% 0%;
        }
        100% {
            background-size: 100% 100%;
        }
    }
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: absolute;
    &:hover {
        cursor: pointer;
        background: $color-gradient;
        background-size: 100% 100%;
        -webkit-background-clip: text;
        background-clip: text;
        background-position: bottom;
        background-repeat: no-repeat;
        -webkit-animation: animationheart 1s linear;
        animation: animationheart 1s linear;
    }
}